/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        chosen {
                zmk,matrix_transform = &default_transform;
                // zmk,matrix_transform = &five_column_transform;
        };
};

#define DEFAULT 0
#define NAV 1
#define NUM 2
#define SYM 3
#define FUNC 4
#define WIN 5
#define EMP 6

#define COMBO(NAME, BINDINGS, KEYPOS) \
        combo_##NAME { \
                timeout-ms = <50>; \
                bindings = <BINDINGS>; \
                key-positions = <KEYPOS>; \
                layers = <0>; \
        };

/ {

        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping_term_ms = <125>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };

        combos {
                compatible = "zmk,combos";
		
		COMBO(mother, &kp N0, 10 22 23)
		COMBO(fucking, &kp N0, 10 22 24)
		COMBO(shithead, &kp N0, 10 22 25)
		COMBO(bullshit, &kp N0, 10 22 26)

                COMBO(nocap, &caps_word, 14 21)
			
		COMBO(slash, &kp SLASH, 32 33)
		COMBO(backslash, &kp BSLH, 33 34)
		
		COMBO(esckey2, &kp ESC, 14 15)
		COMBO(esckey, &kp ESC, 3 4)
		COMBO(tabkey, &kp TAB, 15 16)
		
		COMBO(minus, &kp MINUS, 25 26)
		COMBO(under, &kp UNDER, 26 27)
		COMBO(tilde, &kp TILDE, 27 28)
		
	        COMBO(one, &kp N1, 1 13)
		COMBO(two, &kp N2, 2 14)
		COMBO(three, &kp N3, 3 15)
		COMBO(four, &kp N4, 4 16)
		COMBO(five, &kp N5, 5 17)
		
		COMBO(six, &kp N6, 6 18)
		COMBO(seven, &kp N7, 7 19)
		COMBO(eight, &kp N8, 8 20)
		COMBO(nine, &kp N9, 9 21)
		COMBO(zero, &kp N0, 10 22)
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U   |  I  |  O   |  P   | ___ |
// |  ___ |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J   |  K  |  L   |  '   | ___ |
// |  ___ |  Z  |  X  |  C   |  V   |  B   |                                          |  N   |  M   |  ,  |  .   |  ;   | ___ |
//                    | GUI  | BSP  | DEL  |                                          | ENT  |  SPC | NAV |
                        label = "QWERTY";
                        bindings = <
                                &none   &kp Q        &kp W       &kp E        &kp R         &kp T                                                                      &kp Y          &kp U         &kp I         &kp O        &kp P           &none
                                &none   &hm LGUI A   &hm RALT S  &hm LSHFT D  &hm LCTRL F   &kp G                                                                      &kp H          &hm RCTRL J   &hm RSHFT K   &hm LALT L   &hm RGUI SQT    &none
                                &none   &kp Z        &kp X       &kp C        &kp V         &kp B                                                                      &kp N          &kp M         &kp COMMA     &kp DOT      &kp SEMI        &none
                                                                 &kp LGUI     &lt NAV BSPC  &lt NUM DEL                                                                &lt FUNC ENTER &lt SYM SPACE &mo NAV
                                                >;
		};

                nav_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ | ESC | AF4 | ___  | ___  | ___  |                                           | HME  | DWN  | UP  | END  | ___  | ___ |
// |  ___ | WIN | ALT | SFT  | CTL  | ___  |                                           | <-   |  v   |  ^  | ->   | ___  | ___ |
// |  ___ | ___ | ___ | ___  | ___  | ___  | ____ | ____ |              | ____ | ____  | ___  | ___  | ___ | ___  | ___  | ___ |
//                    | ___  |  ___ | ___  | ___  | ____ |              | ____ | ___   |  ___  | ___  | ___ |
                        label = "QWERTY";
                        bindings = <
                                &none   &kp ESC      &kp LA(F4)  &none        &none         &none                                                                  &kp HOME        &kp PG_DN     &kp PG_UP     &kp END      &none           &none
                                &none   &kp LGUI     &kp LALT    &kp LSHFT    &kp LCTRL     &none                                                                  &kp LEFT        &kp DOWN      &kp UP        &kp RIGHT    &none           &none
                                &none   &none        &none       &none        &none         &none                                                                  &kp BSPC        &kp DEL       &kp LC(C)     &kp LC(V)    &none           &none
                                                                 &none        &none         &none                                                                  &kp SPACE       &none         &none
                                                >;
                };

                num_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ |  +  |  -  |  *   |  /   |  =   |                                          | ___  |  7   |  8  |  9   |  0   | ___ |
// |  ___ | WIN | ALT | SFT  | CTL  | ___  |                                          | ___  |  4   |  5  |  6   |  0   | ___ |
// |  ___ |  .  |  ,  | ___  | ___  | ___  |                                          | ___  |  1   |  2  |  3   |  0   | ___ |
//                    | ___  |  ___ | ___  |                                          |  ___  | ___  | ___ |
                        label = "QWERTY";
                        bindings = <
                                &none   &kp PLUS     &kp MINUS   &kp ASTRK    &kp SLASH     &kp EQUAL                                                              &none           &kp N7        &kp N8        &kp N9       &kp N0          &none
                                &none   &kp LGUI     &kp LALT    &kp LSHFT    &kp LCTRL     &none                                                                  &none           &kp N4        &kp N5        &kp N6       &kp N0          &none
                                &none   &kp DOT      &kp COMMA   &none        &none         &none                                                                  &none           &kp N1        &kp N2        &kp N3       &kp N0          &none
                                                                 &none        &none         &none                                                                  &none           &none         &none
                                                >;
		};

                sym_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ |  `  |  $  |  !   |  {   |  }   |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
// |  ___ |  \  |  #  |  &   |  (   |  )   |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
// |  ___ |  -  |  _  |  |   |  [   |  ]   |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
//                    | ___  |  ___ | ___  |                                          |  ___  | ___  | ___ |
                        label = "QWERTY";
                        bindings = <
                                &none   &kp GRAVE    &kp DLLR    &kp EXCL     &kp LBRC      &kp RBRC                                                               &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3 &bt BT_CLR      &none
                                &none   &kp BSLH     &kp HASH    &kp AMPS     &kp LPAR      &kp RPAR                                                               &none           &none         &none         &none        &none           &none
                                &none   &kp MINUS    &kp UNDER   &kp PIPE     &kp LBKT      &kp RBKT                                                               &none           &kp LC(Z)     &kp LC(C)     &kp LC(V)    &none           &none
                                                                 &none        &none         &none                                                                  &none           &none         &none
                                                >;
		};

                func_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ | F12 |  F7 |  F8  |  F9  | ___  |                                          | ___  | A-F7 | A-F8| ___  | ___  | ___ |
// |  ___ | F11 |  F4 |  F5  |  F6  | ___  |                                          | ___  | WIN  | ALT | SFT  | CTL  | ___ |
// |  ___ | F10 |  F1 |  F2  |  F3  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
//                    | ___  |  ___ | ___  |                                          |  ___  | ___  | ___ |
                        label = "QWERTY";
                        bindings = <
                                &none   &kp F12      &kp F7      &kp F8       &kp F9        &none                                                                  &none           &kp LA(F7)    &kp LA(F8)    &none        &none           &none
                                &none   &kp F11      &kp F4      &kp F5       &kp F6        &none                                                                  &none           &kp RCTRL     &kp RSHFT     &kp RALT     &kp RGUI        &none
                                &none   &kp F10      &kp F1      &kp F2       &kp F3        &none                                                                  &none           &none         &none         &none        &none           &none
                                                                 &none        &none         &none                                                                  &none           &none         &none
                                                >;
		};
		
		win_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ | ___ | ___ | ___  | ___  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
// |  ___ | ___ | ___ | ___  | ___  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
// |  ___ | ___ | ___ | ___  | ___  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
//                    | ___  |  ___ | ___  |                                          |  ___  | ___  | ___ |
                        label = "QWERTY";
                        bindings = <
                                &none   &none        &none       &none        &none         &none                                                                  &none           &none         &none         &none        &none           &none
                                &none   &none        &none       &none        &none         &none                                                                  &none           &none         &none         &none        &none           &none
                                &none   &none        &none       &none        &none         &none                                                                  &none           &none         &none         &none        &none           &none
                                                                 &none        &none         &none                                                                  &none           &none         &none
                                                >;
		};

                emp_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ___ | ___ | ___ | ___  | ___  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
// |  ___ | ___ | ___ | ___  | ___  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
// |  ___ | ___ | ___ | ___  | ___  | ___  |                                          | ___  | ___  | ___ | ___  | ___  | ___ |
//                    | ___  |  ___ | ___  |                                          |  ___  | ___  | ___ |
                        label = "QWERTY";
                        bindings = <
                                &none   &none        &none       &none        &none         &none                                                                  &none           &none         &none         &none        &none           &none
                                &none   &none        &none       &none        &none         &none                                                                  &none           &none         &none         &none        &none           &none
                                &none   &none        &none       &none        &none         &none                                                                  &none           &none         &none         &none        &none           &none
                                                                 &none        &none         &none                                                                  &none           &none         &none
			>;
		};
        };
};
